:root {
  font-family: "Noto Sans CJK TC", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
